* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container {
    width: 375px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}

header, footer {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.05));
    padding: 22px;
    position: fixed;
    left: calc(50% - 187.5px);
    z-index: 1;
}

header {
    top: 0;
}

header img {
    width: 75px;
    height: 53px;
}

header ion-icon {
    font-size: 40px;
    color: black;
}

.chat {
    width: 375px;
    height: calc(100vh - 186px);
    margin: 106px auto 85px auto;
    overflow-y: scroll;
}

.chat li {
    display: flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40px;
    margin-bottom: 5px;
    padding: 10px 8px 10px 8px;
}

.chat p {
    line-height: 20px;
    margin-left: 5px;
}

.time {
    color: #AAAAAA;
    margin-right: 5px;
}

.author, .receiver {
    color: #000000;
    font-weight: bold;
}

.log {
    background-color: #DCDCDC;
}

.public {
    background-color: #FFFFFF;
}

.private {
    background-color: #FFDEDE;
}

.privacy, .user-message {
    cursor: pointer;
}

footer {
    bottom: 0;
}

footer p {
    color: #505050;
    font-size: 14px;
    margin: 10px 0 0 1px;
}


footer input {
    width: 100%;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 21px;
    outline: none;
    border: none;
}

footer ion-icon {
    font-size: 26px;
    cursor: pointer;
}

.message-input {
    width: calc(95% - 26px);
}

.botaoEnviar, .botaoUsuarios {
    background: none;
    border: none;
}


.users-list img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
}


.user-message ion-icon:last-child, .privacy ion-icon:last-child{
    color: green;
    font-size: 20px;
}

.front-aside {
    width: 259px;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: calc(50% - 187.5px);
    /* box-shadow: -116px 0 0 0 rgba(0, 0, 0, 0.6); */
    padding: 0 20px 0 20px;
    font-size: 16px;
    z-index: 3;
    overflow-y: scroll;
    padding-bottom: 80px;
}

.back-aside {
    width: 375px;
    height: 100vh;
    background-color: #000000;
    opacity: 0.6;
    display: flex;
    position: fixed;
    top: 0;
    right: calc(50% - 187.5px);
    z-index: 2;
}

.back-aside img {
    width: 45px;
    height: 45px;
    margin-top: 13px;
    margin-left: 22px;
    opacity: 1;
}

.titulo {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

.users-list ion-icon {
    font-size: 25px;
    margin-right: 7px;
}

.users-list li {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;
}

li div {
    display: flex;
    align-items: center;
}

.users-list h2 {
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}

.subtitulo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.privacy ion-icon {
    font-size: 20px;
}

.user-message, .privacy {
    justify-content: space-between;
} 


.login-screen {
    width: 375px;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: calc(50% - 187.5px);
    z-index: 2;

}

.logo {
    width: 130px;
    height: 92px;
    margin-top: 85px;
}

.login-screen input {
    min-width: 261px;
    min-height: 54px; 
    margin-top: 85px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    color: #000000;
    text-align: center;
}

.login-screen input:focus {
    outline: 1px solid rgb(131, 131, 131);
}

.login-screen input::placeholder {
    color: #AEAEAE;
}


.login-screen button {
    min-width: 109px;
    min-height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    margin-top: 20px;
    border: none;
    color: #696969;
}


.error {
    width: 250px;
    line-height: 20px;
    text-align: center;
    color: rgb(196, 0, 0);
    position: fixed;
    top: 205px;
    left: calc(50% - 125px);
    z-index: 2;
}

.loading {
    width: 375px;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: calc(50% - 187.5px);
    z-index: 3;
}

.gif {
    width: 120px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.habilitado {
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}





@media (max-width: 450px){
    header, footer, .chat, .container, .login-screen, .back-aside {
        width: 100%;
        left: 0;
    }
    .front-aside {
        right: 0;
    }
    .users-list {
        right: 0;
    }
}


@media (max-width: 300px){

    .front-aside {
        width: 70vw;
    }
}